*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 100%;
}

.container {
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(120deg, #b7dbe4, #0f667c);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 45rem;
    height: 43.5rem;
    background-color: #27272e;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,.4);
}

.month {
    width: 100%;
    height: 10rem;
    background-color: #0b1141;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
}

.month i {
        font-size: 2.5rem;
        cursor: pointer;
}

.month h1 {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
}

.month p {
    font-size: 1.5rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 .4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(45rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div {
    font-size: 1.4rem;
    margin: 0.5rem;
    width: calc((37rem)/7);
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0, .5); 
}

.dif-month{
    opacity: 0.3;
}

.today {
    background-color: rgba(158, 193, 228, 0.133);
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: .2rem solid #777;
    cursor: pointer;
}

.todolist {
    width: 20rem;
    padding: .8rem;
    align-items: center;
    background-color: #27272e;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,.4);
}

.todolist header {
    font-size: 1rem;
}

.todolist header, form {
    min-height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    color:#777;
    background:rgba(87, 148, 209, 0.133);
    cursor: pointer;
    transition: all 0.3s ease;
}

.todolist .task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todolist .task-list {
    min-width: 10%;
    list-style: none;
}

.todolist .task {
    margin: 0.5rem;
    background:rgb(255, 255, 255);
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todolist .task-item {
    padding: 0rem 0.5rem;
}

.todolist .task li{
    flex: 1;
}

.trash-btn, .complete-btn{
    background:#0f667c;
    padding: 0.3rem;
    color: white;
    border: none;
    cursor: pointer;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
